/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: var(--main-font);
  font-size: var(--text-size);

}

.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  align-items: start;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu {
  margin-block-start: 65px;
  margin-block-end: 17px;
  justify-self: end;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  color: var(--section-font-color);
  text-transform: lowercase;
  font-size: var(--text-size);
  font-weight: 400;
  line-height: 18px;
  padding: 1.5px 13px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11.5px;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-decor-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-switch-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
}

.content {
  padding: 40px 10px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.how-section-list {
  grid-column-start: 2;
  padding-top: 20px;
}

.cards-list {
  display: grid;
  gap: 20px;
  list-style-type: none;
}

.card {
  display: grid;
  gap: 10px;
}

.card-text {
  line-height: 23.4px;
}

.section-title {
  color: var(--section-font-color);
}

.heading {
  font-weight: 700;
  font-size: var(--text-size);
  line-height: 23.4px;
}

.heading-accent {
  background-color: var(--accent-color);
  color: var(--heading-color);
}

.card-text {
  color: var(--text-color);
  font-weight: 400;
}

.accent-link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.accent-link:hover {
  text-decoration: underline;
}

.accent-link:focus {
  outline: 0;
}

.accent-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.card-subtitle {
  font-weight: 400;
  font-size: var(--text-size);
}

.gallery {
  gap: 8px;
}

.gallery-image {
  block-size: 100%; 
  inline-size: 100%; 
  object-fit: cover; 
  object-position: center;
  display: block;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}

.decorated-elements {
  position: relative;
  max-width: 100%;
  min-height: 100vmin;
}

.decorated-elements::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-decor-color);
  border-right: 1px solid var(--header-decor-color);
  position: absolute;
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-elements::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-decor-color);
  border-left: 1px solid var(--header-decor-color);
  position: absolute;
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-element {
  position: absolute;
  visibility: visible;
  inset-inline-end: clamp(19px, 9.458px + 2.5445vw, 29px);
  inset-block-start: clamp(10px, 0.458px + 2.5445vw, 20px);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: -1;
}

.rec-element::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 1.33em;
}

.rec-element::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .header {
    padding-inline-start: 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-info {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    justify-self: end;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 20px;
}

  .why-section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
  
  .what-section-title {
    inline-size: 236px;
    block-size: 70px;
  }

  .how-section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;

  }
  .how-section-list {
    grid-column-start: 2;
  }

  .gallery {
    gap: 20px;
  }
  
  .gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  }
  
  .gallery-list-item:first-child {
  grid-column-start: span 2;
  }
  
  .gallery-list-item:nth-child(2) {
  grid-row-start: span 2;
  }
  
  .gallery-list-item:nth-child(3) {
  grid-row-start: span 2;
  }
  
  .gallery-list-item:last-child {
  grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  .what-section-title {
    inline-size: 315px;
    block-size: 47px;
  }

  .what-section-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block: 0 220px;
    margin-block-end: 160px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    column-gap: 30px;
  }
}